@import "../../../variables.scss";
@import "../../../mixins.scss";

.portfolio {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 $section-padding;
  margin-bottom: 4rem;

  h1 {
    width: 100%;
    @include sectionHeading;
    text-wrap: balance;

    @media (width <= 384px) {
      font-size: 3.5rem;
    }

    &:hover {
      & ~ .text span {
        color: $accent;
        transition: color 0.15s ease-in-out;
      }
    }
  }

  .text {
    @include sectionText;

    span {
      color: $text;
      transition: color 0.15s ease-in-out;
    }
  }

  .project-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .project {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 4rem 0;
      gap: 5rem;

      &:hover .video-box {
        &::before {
          opacity: 1;
        }

        &::after {
          opacity: 1;
        }
      }

      &:hover video {
        filter: none;
      }

      .count {
        @include sectionText;
        font-weight: 700;
        font-size: 2.25rem;
        position: absolute;
        width: fit-content;
      }
    }

    & > .project:nth-of-type(odd) {
      flex-direction: row;

      .count {
        right: 0;
        top: 4rem;
      }

      .info-box {
        transform: translateX(calc(-100% - 4rem));
      }

      .video-box::before {
        left: 1.25rem;
      }

      .video-box::after {
        right: -2.125rem;
        transform: translateY(-50%) translateX(1rem);
      }

      &:hover .info-box {
        animation: moveInRight 0.2s ease-in-out forwards;
      }

      &:hover .video-box::after {
        animation: rotateRight 0.375s ease-in-out forwards;
      }

      @keyframes moveInRight {
        0% {
          transform: translateX(calc(-100% - 4rem));
          opacity: 0;
        }

        50% {
          opacity: 0;
        }

        100% {
          transform: translateX(0);
          opacity: 1;
        }
      }
    }

    & > .project:nth-of-type(even) {
      flex-direction: row-reverse;

      .count {
        left: 0;
        top: 4rem;
      }

      .info-box {
        transform: translateX(calc(100% + 4rem));
      }

      .video-box::before {
        right: 1.25rem;
      }

      .video-box::after {
        left: -2.125rem;
        transform: translateY(-50%) translateX(-1rem);
      }

      &:hover .info-box {
        animation: moveInLeft 0.2s ease-in-out forwards;
      }

      &:hover .video-box::after {
        animation: rotateLeft 0.375s ease-in-out forwards;
      }

      @keyframes moveInLeft {
        0% {
          transform: translateX(calc(100% + 4rem));
          opacity: 0;
        }

        50% {
          opacity: 0;
        }

        100% {
          transform: translateX(0);
          opacity: 1;
        }
      }
    }
  }

  video {
    position: relative;
    z-index: 10;
    width: 600px;
    aspect-ratio: 2 / 1;
    filter: sepia(0.6) brightness(1.125) contrast(0.8);
    transition: all 0.15s ease-in-out;
  }

  .info-box {
    position: inherit;
    z-index: 0;
    display: flex;
    flex-direction: column;
    margin-top: 2.25rem;
    gap: 1.125rem;
    opacity: 0;

    h3 {
      @include projectHeading;
    }

    span {
      @include projectTechnologies;
    }

    p {
      @include sectionText;
      font-size: 1rem;
      margin: 0;
    }

    .links {
      display: flex;
      justify-content: space-between;
      gap: 2rem;

      a {
        @include contactButton;
        padding: 1rem 2.875rem;
        font-size: 1.25rem;

        &:hover {
          padding: 1rem 3.75rem;
        }
      }
    }
  }
}

.video-box {
  position: relative;
  z-index: 5;
  width: fit-content;

  &::before {
    content: "";
    position: absolute;
    z-index: 5;
    top: 1.25rem;
    width: calc(100% - 4px);
    height: calc(100% - 8px);
    outline: 4px $text solid;
    opacity: 0;
    transition: all 0.15s ease-in-out;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 15;
    top: calc(50% + 1.25rem);
    width: 4rem;
    height: 4rem;
    background-color: $text;
    background-image: url("../../../assets/img/arrows/arrow-projects.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 42.5%;
    opacity: 0;
    transform: rotate(0deg);
    transition: all 0.15s ease-in-out;
    transform-origin: center;
  }
}

@keyframes rotateLeft {
  0% {
    transform: translateY(-50%) translateX(-1rem) rotate(0deg);
  }
  20% {
    transform: translateY(-50%) translateX(-1rem) rotate(110deg);
  }
  40% {
    transform: translateY(-50%) translateX(-1rem) rotate(20deg);
  }
  60% {
    transform: translateY(-50%) translateX(-1rem) rotate(70deg);
  }
  80% {
    transform: translateY(-50%) translateX(-1rem) rotate(35deg);
  }
  90% {
    transform: translateY(-50%) translateX(-1rem) rotate(50deg);
  }
  100% {
    transform: translateY(-50%) translateX(-1rem) rotate(45deg);
  }
}

@keyframes rotateRight {
  0% {
    transform: translateY(-50%) translateX(+1rem) rotate(0deg);
  }
  20% {
    transform: translateY(-50%) translateX(+1rem) rotate(250deg);
  }
  40% {
    transform: translateY(-50%) translateX(+1rem) rotate(340deg);
  }
  60% {
    transform: translateY(-50%) translateX(+1rem) rotate(290deg);
  }
  80% {
    transform: translateY(-50%) translateX(+1rem) rotate(325deg);
  }
  90% {
    transform: translateY(-50%) translateX(+1rem) rotate(310deg);
  }
  100% {
    transform: translateY(-50%) translateX(+1rem) rotate(315deg);
  }
}
