<section class="portfolio" id="portfolio">
  <h1 appTextShadowOffset [maxOffset]="6">Portfolio</h1>
  <div class="text">
    <p>
      {{ "portfolio.intro.part1" | translate }}
      <span>{{ "portfolio.intro.highlight" | translate }}</span>
      {{ "portfolio.intro.part2" | translate }}
    </p>
  </div>
  <div class="project-box">
    @for ( project of projectList; track project.name) {
    <div
      class="project"
      (mouseenter)="playVideo(video)"
      (mouseleave)="pauseVideo(video)"
    >
      <span class="count">{{ $index + 1 }}/{{ projectList.length }}</span>
      <div class="video-box">
        <video #video src="./assets/vid/{{ project.video }}" loop muted></video>
      </div>
      <div class="info-box">
        <h3>{{ project.name }}</h3>
        <span>{{ project.technologies }}</span>
        <p>{{ project.descriptionKey | translate }}</p>

        <div class="links">
          @for (link of project.links; track link.name ){
          <a
            href="{{ link.url }}"
            target="_blank"
            appBoxShadowOffset
            [maxOffset]="8"
          >
            {{ link.name }}
          </a>
          }
        </div>
      </div>
    </div>
    }
  </div>
</section>
