<section #burgerMenu class="menu">
  <nav #navLinks>
    <span
      (click)="navigateAndScroll('about', 76); closePopover()"
      appTextShadowOffset
      [maxOffset]="6"
      >{{ "menu.navLinks.about" | translate }}</span
    >
    <span
      (click)="navigateAndScroll('skills', 76); closePopover()"
      appTextShadowOffset
      [maxOffset]="6"
      >{{ "menu.navLinks.skills" | translate }}</span
    >
    <span
      (click)="navigateAndScroll('portfolio', 76); closePopover()"
      appTextShadowOffset
      [maxOffset]="6"
      >{{ "menu.navLinks.portfolio" | translate }}</span
    >
    <span
      (click)="navigateAndScroll('contact', 76); closePopover()"
      appTextShadowOffset
      [maxOffset]="6"
      >{{ "menu.navLinks.contact" | translate }}</span
    >
  </nav>
  <div class="tilt" style="overflow: hidden">
    <div class="cta">
      <a
        href="mailto:hey@michael-buschmann.dev?subject=Hi Micha 👋🏼, I've got a project to talk about!"
        >hey&#64;michael-buschmann.dev
        <div class="underline"></div
      ></a>
      <span id="cta-span">{{ "menu.cta" | translate }}</span>
    </div>
    <div class="external-links">
      <a href="https://github.com/CodeRacon" target="_blank"
        ><img src="assets/img/icons/github.svg" alt="GitHub"
      /></a>

      <a
        href="mailto:hey@michael-buschmann.dev?subject=Hi Micha 👋🏼, I've got a project to talk about!"
        ><img src="assets/img/icons/mail.svg" alt="Mail"
      /></a>

      <a
        href="https://de.linkedin.com/in/michael-buschmann-front-end-dev"
        target="_blank"
        ><img src="assets/img/icons/linkedin.svg" alt="LinkedIn"
      /></a>
    </div>
  </div>
</section>
