<section #burgerMenu class="menu">
  <nav>
    <button
      type="button"
      class="menu-link"
      [class.active]="activeSection === 'about'"
      (click)="navigateAndScroll('about'); closePopover()"
    >
      {{ "menu.navLinks.about" | translate }}
    </button>
    <button
      type="button"
      class="menu-link"
      [class.active]="activeSection === 'skills'"
      (click)="navigateAndScroll('skills'); closePopover()"
    >
      {{ "menu.navLinks.skills" | translate }}
    </button>
    <button
      type="button"
      class="menu-link"
      [class.active]="activeSection === 'portfolio'"
      (click)="navigateAndScroll('portfolio'); closePopover()"
    >
      {{ "menu.navLinks.portfolio" | translate }}
    </button>
    <button
      type="button"
      class="menu-link"
      [class.active]="activeSection === 'contact'"
      (click)="navigateAndScroll('contact'); closePopover()"
    >
      {{ "menu.navLinks.contact" | translate }}
    </button>
  </nav>
  <div class="menu-footer">
    <a
      class="email-link"
      href="mailto:hey@michael-buschmann.dev?subject=Hi Micha 👋🏼, I've got a project to talk about!"
      >hey&#64;michael-buschmann.dev</a
    >
    <div class="external-links">
      <a href="https://github.com/CodeRacon" target="_blank"
        ><img src="assets/img/icons/github.svg" alt="GitHub"
      /></a>
      <a
        href="https://de.linkedin.com/in/michael-buschmann-front-end-dev"
        target="_blank"
        ><img src="assets/img/icons/linkedin.svg" alt="LinkedIn"
      /></a>
      <a
        href="mailto:hey@michael-buschmann.dev?subject=Hi Micha 👋🏼, I've got a project to talk about!"
        ><img src="assets/img/icons/mail.svg" alt="Mail"
      /></a>
    </div>
  </div>
</section>
