<section class="menu">
  <nav #navLinks>
    <span
      (click)="scrollToSection('about', 76)"
      appTextShadowOffset
      [maxOffset]="6"
      >About me</span
    >
    <span
      (click)="scrollToSection('skills', 76)"
      appTextShadowOffset
      [maxOffset]="6"
      >Skills</span
    >
    <span
      (click)="scrollToSection('portfolio', 76)"
      appTextShadowOffset
      [maxOffset]="6"
      >Portfolio</span
    >
    <span
      (click)="scrollToSection('contact', 76)"
      appTextShadowOffset
      [maxOffset]="6"
      >Contact</span
    >
  </nav>
  <div class="tilt" style="overflow: hidden">
    <svg
      preserveAspectRatio="none"
      viewBox="0 0 1440 120"
      xmlns="http://www.w3.org/2000/svg"
      style="
        fill: #1b1819;
        width: 150%;
        height: 200px;
        transform: rotate(180deg);
      "
    >
      <path d="M1440 120L0 16.48V0h1440v120z" />
    </svg>
    <!-- <svg
      preserveAspectRatio="none"
      viewBox="0 0 1440 120"
      xmlns="http://www.w3.org/2000/svg"
      style="
        fill: #1b1819;
        width: 100%;
        height: 180px;
        transform: rotate(180deg);
      "
    >
      <path d="M1440 120L0 16.48V0h1440v120z" />
    </svg> -->
  </div>
</section>
