<section class="about">
  <h1>About Me</h1>
  <div class="about-content">
    <div class="text">
      <p>
        <span> Hi, I'm Micha!</span>
        <br />
        Based in Dresden, Germany, I'm a passionate Front-end developer with a
        <span>keen eye for detail</span> and a strong affinity for interactive
        web design.
        <br />
        With a <span>solid foundation in design principles</span> from both work
        and study, I've honed my skills in crafting all the key elements that
        make a difference in the development process.
        <br />
        Additionally, my <span>profound coding skills</span> allow me to bring
        these designs to life,
        <span>ensuring both functionality and aesthetics</span>.
        <br />
        <!-- My dedication is to help awesome people craft unique, accessible and
        lasting user experiences.
        <br /> -->
        I'm excited to continue my career as a
        <span>junior web developer</span>.

        <br />
        <br />
        If you think I’d be a great fit for your projects, feel free to reach
        out!
      </p>
      <div class="btn-box">
        <button>Let's talk!</button>
      </div>
    </div>
    <div class="img-box"></div>
  </div>
</section>
