<section class="about" id="about">
  <h1
    appScrollAnimation
    [animationClass]="'animated'"
    [threshold]="1"
    [rootMargin]="'50% 0px -35% 0px'"
    appTextShadowOffset
    [maxOffset]="6"
  >
    {{ "about.title" | translate }}
  </h1>

  <div class="about-content">
    <div class="text">
      <p>
        {{ "about.paragraph1.start" | translate }}
        <span>{{ "about.paragraph1.highlight1" | translate }}</span>
        {{ "about.paragraph1.middle1" | translate }}
        <span>{{ "about.paragraph1.highlight2" | translate }}</span>
        {{ "about.paragraph1.end" | translate }}
      </p>
      <p>
        {{ "about.paragraph2.start" | translate }}
        <span>{{ "about.paragraph2.highlight1" | translate }}</span>
        {{ "about.paragraph2.middle1" | translate }}
        <span>{{ "about.paragraph2.highlight2" | translate }}</span
        >{{ "about.paragraph2.end" | translate }}
      </p>
      <div class="btn-box">
        <button
          appBoxShadowOffset
          [maxOffset]="8"
          (click)="scrollToSection('contact', 0)"
        >
          {{ "about.cta" | translate }}
        </button>
      </div>
    </div>
    <div
      class="img-box"
      appScrollAnimation
      [animationClass]="'animated'"
      [threshold]="1"
      [rootMargin]="'-76px 0px -5% 0px'"
    ></div>
  </div>
</section>
