@import "../../../variables.scss";
@import "../../../mixins.scss";

$gap: clamp(1rem, 12.903vw + -5.194rem, 4rem);
$portrait-size: clamp(20rem, 24.242vw + 15.455rem, 30rem);

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 $section-padding-960;
  margin: 3rem 0 4rem 0;

  h1 {
    width: 100%;
    @include sectionHeading;

    @media (width <= 384px) {
      font-size: 3.5rem;
    }

    &:hover {
      & ~ .about-content .text span:not(:first-of-type) {
        color: $accent;
        transition: color 0.15s ease-in-out;
      }
    }
  }

  .animated {
    color: $accent;
    transition: color 0.15s ease-in-out;

    & ~ .about-content .text {
      span:not(:first-of-type) {
        color: $accent;
        transition: color 0.15s ease-in-out;
        animation: textAttention 0.325s ease-in-out;
        animation-play-state: running;
      }

      @for $i from 2 through 6 {
        span:nth-of-type(#{$i}) {
          animation-delay: #{($i - 2) * 0.15}s;
        }
      }
    }

    & ~ .about-content .img-box {
      &::before {
        opacity: 1;
      }
    }
  }

  .about-content {
    display: flex;
    justify-content: space-between;
    gap: $gap;

    @media (max-width: 960px) {
      flex-direction: column;
      align-items: flex-start;
    }

    .text {
      width: calc(50% - $gap / 2);
      @include sectionText;

      @media (width <= 960px) {
        width: 75%;
        align-items: flex-start;
      }

      @media (width <= 640px) {
        width: 100%;
        align-items: center;
      }

      span {
        color: $text;
        transition: color 0.15s ease-in-out;
      }

      span:first-of-type {
        color: $accent;
        font-weight: 900;
      }

      .btn-box {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 3rem;

        @media (width <= 960px) {
          display: none;
        }
      }

      button {
        @include contactButton;
      }
    }

    .img-box {
      position: relative;
      margin-top: 6rem;
      background-image: url("../../../assets/img/me.jpeg");
      background-size: cover;
      background-position: center;
      width: $portrait-size;
      height: $portrait-size;

      @media (width <= 960px) {
        margin-top: 2rem;
        margin-right: 1rem;
        align-self: flex-end;
      }

      @media (width <= 512px) {
        align-self: center;
        width: 100%;
        aspect-ratio: 1 / 1;
        height: auto;
      }

      &::before {
        content: "";
        position: absolute;
        z-index: 10;
        top: 1.25rem;
        left: 1.25rem;
        width: calc(100% - 0.25rem);
        height: calc(100% - 0.25rem);
        outline: 4px $text solid;
        opacity: 0;
        transition: all 0.15s ease-in-out;
      }

      &:hover::before {
        opacity: 1;
      }
    }
  }
}

@keyframes textAttention {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
