<section class="about" id="about">
  <h1
    appScrollAnimation
    [animationClass]="'animated'"
    [threshold]="1"
    [rootMargin]="'50% 0px -35% 0px'"
    appTextShadowOffset
    [maxOffset]="6"
  >
    {{ "about.title" | translate }}
  </h1>

  <div class="about-content">
    <div class="text">
      <p>
        <span>{{ "about.intro.greeting" | translate }}</span>
        <br />
        {{ "about.intro.profession" | translate }}
        <span>{{ "about.intro.detail" | translate }}</span>
        {{ "about.intro.affinity" | translate }}
        {{ "about.intro.location" | translate }}
        <br />
        {{ "about.background.foundation" | translate }}
        <span>{{ "about.background.foundationDetail" | translate }}</span
        >{{ "about.background.experience" | translate }}
        <br />
        {{ "about.skills.coding" | translate }}
        <span>{{ "about.skills.codingDetail" | translate }}</span
        >{{ "about.skills.application" | translate }}
        {{ "about.skills.result" | translate }}.
        <br />
        {{ "about.dedication.intro" | translate }}
        {{ "about.dedication.goal" | translate }}
        <br />
        <br />
        {{ "about.outro" | translate }}
      </p>
      <div class="btn-box">
        <button
          appBoxShadowOffset
          [maxOffset]="8"
          (click)="scrollToSection('contact', 0)"
        >
          {{ "about.cta" | translate }}
        </button>
      </div>
    </div>
    <div
      class="img-box"
      appScrollAnimation
      [animationClass]="'animated'"
      [threshold]="1"
      [rootMargin]="'-76px 0px -5% 0px'"
    ></div>
  </div>
</section>
