<section class="contact" id="contact">
  <h1>
    {{ "contact.title.part1" | translate }} <br class="split" />{{
      "contact.title.part2" | translate
    }}
  </h1>

  <div class="subheading">
    <h2>{{ "contact.subtitle" | translate }}</h2>
    <p>{{ "contact.description" | translate }}</p>
  </div>

  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="name-box">
      <fieldset>
        <legend for="name">{{ "contact.form.name.label" | translate }}</legend>

        <div class="wrapper">
          <input
            type="text"
            id="name"
            formControlName="name"
            placeholder="{{ 'contact.form.name.placeholder' | translate }}"
            autocomplete="off"
          />
        </div>
      </fieldset>
      @if (contactForm.get('name')?.invalid && (contactForm.get('name')?.dirty
      || contactForm.get('name')?.touched)) {
      <div class="error-message">
        @if (contactForm.get('name')?.errors?.['required']) {
        <span
          >{{ "contact.form.name.errors.required" | translate }} &nbsp;</span
        >
        } @if (contactForm.get('name')?.errors?.['invalidName']) {
        <span>{{ "contact.form.name.errors.invalid" | translate }}</span>
        }
      </div>
      }
    </div>

    <div class="mail-box">
      <fieldset>
        <legend for="email">
          {{ "contact.form.email.label" | translate }}
        </legend>

        <div class="wrapper">
          <input
            type="email"
            id="email"
            formControlName="email"
            placeholder="{{ 'contact.form.email.placeholder' | translate }}"
            autocomplete="off"
          />
        </div>
      </fieldset>
      @if (contactForm.get('email')?.invalid && (contactForm.get('email')?.dirty
      || contactForm.get('email')?.touched)) {
      <div class="error-message">
        @if (contactForm.get('email')?.errors?.['required']) {
        <span
          >{{ "contact.form.email.errors.required" | translate }} &nbsp;</span
        >
        } @if (contactForm.get('email')?.errors?.['invalidEmail']) {
        <span>{{ "contact.form.email.errors.invalid" | translate }}</span>
        }
      </div>
      }
    </div>

    <div class="message-box">
      <fieldset>
        <legend for="message">
          {{ "contact.form.message.label" | translate }}
        </legend>
        <div class="message-wrapper">
          <textarea
            id="message"
            #message
            formControlName="message"
            placeholder="{{ 'contact.form.message.placeholder' | translate }}"
            autocomplete="off"
          ></textarea>
        </div>
      </fieldset>
      @if (contactForm.get('message')?.invalid &&
      (contactForm.get('message')?.dirty ||
      contactForm.get('message')?.touched)) {
      <div class="error-message">
        @if (contactForm.get('message')?.errors?.['required'] ||
        contactForm.get('message')?.errors?.['whitespace']) {
        <span>{{ "contact.form.message.errors.required" | translate }}</span>
        }
      </div>
      }
    </div>

    <div class="policy-box">
      <div class="checkbox">
        <input type="checkbox" formControlName="policy" id="policy" />
        <p>
          {{ "contact.form.policy.text1" | translate }}
          <span
            [ngClass]="{ narrow: isGerman, broad: !isGerman }"
            (click)="scrollToSection('home', 0)"
          >
            <a [routerLink]="['/privacy']">
              {{ "contact.form.policy.linkText" | translate }}
              <div class="underline"></div>
            </a>
          </span>
          {{ "contact.form.policy.text2" | translate }}
        </p>
      </div>
      @if (contactForm.get('policy')?.invalid &&
      (contactForm.get('policy')?.dirty || contactForm.get('policy')?.touched))
      {
      <div class="error-message">
        <span>{{ "contact.form.policy.errors.required" | translate }}</span>
      </div>
      }
    </div>

    <button
      type="submit"
      [disabled]="!isFormValid"
      [class.disabled]="!isFormValid"
      popovertarget="feedback"
    >
      {{ "contact.form.submit" | translate }}
    </button>
  </form>

  <div class="popover-wrapper">
    <div id="feedback" popover>
      <p>{{ feedbackMessage }}</p>
    </div>
  </div>

  <div class="arrow-wrapper" (click)="scrollToSection('home', 0)">
    <img src="./assets/img/arrows/arrow-up.svg" alt="" />
  </div>
</section>
