<header>
  <div class="header-inner">
    <div class="logo-box" (click)="navigateAndScroll('home', 0)">
      <div class="logo">
        <a [routerLink]="['']">
          <img src="assets/img/logo.png" alt="" />
        </a>
      </div>

      <div class="name">
        <p>Michael</p>
        <p>Buschmann</p>
      </div>
    </div>

    <nav class="desktop-nav">
      @for (link of links; track link.id) {
      <button
        class="nav-link"
        [class.active]="activeSection === link.id"
        (click)="navigateAndScroll(link.id)"
        type="button"
      >
        {{ link.labelKey | translate }}
      </button>
      }
    </nav>

    <div class="controls">
      <div class="language-switch">
        <span
          [class.selected]="currentLang === 'en'"
          (click)="changeLanguage('en')"
          >eng</span
        >
        <span
          [class.selected]="currentLang === 'de'"
          (click)="changeLanguage('de')"
          >ger</span
        >
      </div>
      <button id="burger-icon" class="burger-icon" popovertarget="burger-menu">
        <app-burger-icon #burgerIcon />
      </button>
    </div>
  </div>
</header>
<app-burger-menu
  popover
  id="burger-menu"
  class="burger-menu"
  #burgerMenu
  [burgerIcon]="burgerIcon"
  [activeSection]="activeSection"
/>
