@import "../../../variables.scss";

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  height: $header-height;
  padding: 1rem $section-padding;
  background-color: $background;

  .logo img {
    height: 46px;
  }
}
