@import "../../../variables.scss";
@import "../../../mixins.scss";

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  height: $header-height;
  padding: 1rem $section-padding-960;
  background-color: $background;

  .logo {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    cursor: pointer;

    .name p {
      @include sectionText;
      font-size: 1rem;
      margin: 0.25rem;
      line-height: 100%;
      font-weight: 300;
      color: $accent;
      text-shadow: 1px 1px 0px $primary;
    }

    img {
      height: 46px;

      @media (width <= 375px) {
        transform: scale(0.66666);
      }
    }
  }

  button {
    &:focus {
      border: unset;
      outline: unset;
    }
  }
}

.burger-menu {
  position: fixed;
  width: 100%;
  max-width: 1440px;

  height: calc(100vh - $header-height);
  top: $header-height;
  padding: 0;
  border: none;
  opacity: 0;
  transition: 0.425s opacity ease-in-out, 0.425s display allow-discrete,
    0.425s overlay allow-discrete;
}

.burger-menu:popover-open {
  opacity: 1;
}

@starting-style {
  .burger-menu:popover-open {
    opacity: 0;
  }
}
