<header>
  <div class="logo" (click)="scrollToSection('home', 0)">
    <img src="assets/img/mb.png" alt="" />
    <div class="name">
      <p>Michael</p>
      <p>Buschmann</p>
    </div>
  </div>
  <div class="language-switch">
    <span [class.selected]="currentLang === 'en'" (click)="changeLanguage('en')"
      >eng</span
    >
    <span [class.selected]="currentLang === 'de'" (click)="changeLanguage('de')"
      >ger</span
    >
  </div>
  <button id="burger-icon" class="burger-icon" popovertarget="burger-menu">
    <app-burger-icon #burgerIcon />
  </button>
</header>
<app-burger-menu
  popover
  id="burger-menu"
  class="burger-menu"
  #burgerMenu
  [burgerIcon]="burgerIcon"
/>
