<section class="privacy-policy">
  <div class="arrow-wrapper" [routerLink]="['']">
    <img src="./assets/img/arrows/arrow-up.svg" alt="" />
  </div>

  <h1 appTextShadowOffset [maxOffset]="6">
    {{ "privacy.title" | translate }}
  </h1>

  <article>
    <p>{{ "privacy.intro.paragraph1" | translate }}</p>
    <p>{{ "privacy.intro.paragraph2" | translate }}</p>
    <p>{{ "privacy.intro.paragraph3" | translate }}</p>
    <p>{{ "privacy.structure.intro" | translate }}</p>
    <ol>
      <li>{{ "privacy.structure.item1" | translate }}</li>
      <li>{{ "privacy.structure.item2" | translate }}</li>
      <li>{{ "privacy.structure.item3" | translate }}</li>
    </ol>
  </article>

  <article>
    <h2>{{ "privacy.section1.title" | translate }}</h2>
    <p>{{ "privacy.section1.description" | translate }}</p>
    <address>
      <strong>{{ "privacy.section1.name" | translate }}</strong>
      <br />
      <strong>{{ "privacy.section1.address" | translate }}</strong
      ><br />
      <strong>{{ "privacy.section1.city" | translate }}</strong>
      <br />
      <br />
      {{ "privacy.section1.phone" | translate }}:
      <span><a href="tel:+4915205383732">0152 05 38 37 32</a></span>

      <br />
      {{ "privacy.section1.email" | translate }}:

      <span
        ><a
          href="mailto:hey@michael-buschmann.dev?subject=Hi Micha 👋🏼, I've got a project to talk about!"
          >hey&#64;michael-buschmann.dev</a
        ></span
      >
    </address>
  </article>

  <article>
    <h2>{{ "privacy.section2.title" | translate }}</h2>
    <p>{{ "privacy.section2.intro" | translate }}</p>
    <ul>
      <li>{{ "privacy.section2.right1" | translate }}</li>
      <li>{{ "privacy.section2.right2" | translate }}</li>
      <li>{{ "privacy.section2.right3" | translate }}</li>
      <li>{{ "privacy.section2.right4" | translate }}</li>
      <li>{{ "privacy.section2.right5" | translate }}</li>
    </ul>
    <p>{{ "privacy.section2.additional1" | translate }}</p>
    <p>{{ "privacy.section2.additional2" | translate }}</p>
  </article>

  <article>
    <h2>{{ "privacy.section3.title" | translate }}</h2>
    <p>{{ "privacy.section3.intro" | translate }}</p>
    <h3>{{ "privacy.section3.contact.title" | translate }}</h3>
    <p>{{ "privacy.section3.contact.description" | translate }}</p>
    <p>{{ "privacy.section3.contact.legalBasis" | translate }}</p>
    <p>{{ "privacy.section3.contact.deletion" | translate }}</p>
    <h3>{{ "privacy.section3.linkedin.title" | translate }}</h3>
    <p>{{ "privacy.section3.linkedin.description" | translate }}</p>
    <h3>{{ "privacy.section3.github.title" | translate }}</h3>
    <p>{{ "privacy.section3.github.description" | translate }}</p>
  </article>
</section>
