<section class="hero">
  <div class="atf">
    <h1 appTextShadowOffset>
      Frontend <br />
      Developer
    </h1>
    <div class="subheading">
      <div class="stroke" appBoxShadowOffset [maxOffset]="6"></div>
      <h2>Michael Buschmann</h2>
    </div>

    <div class="btn-box">
      <button appBoxShadowOffset [maxOffset]="8" (click)="openTerminal()">
        Interactive Terminal
      </button>
    </div>
  </div>
  <div class="hero-cta">
    <a
      class="vert-email"
      href="mailto:hey@michael-buschmann.dev?subject=Hi Micha 👋🏼, I've got a project to talk about!"
    >
      hey&#64;michael-buschmann.dev</a
    >
    <div class="scrolldown">
      <div class="arrow-wrapper">
        <img
          src="./assets/img/arrows/arrow-down.svg"
          alt="arrow down-pointing arrow, suggesting to scroll down to next section"
        />
      </div>

      <div class="text">
        <span>Scroll</span>
        <span>down</span>
      </div>
    </div>
  </div>

  <div
    class="terminal"
    *ngIf="isTerminalOpen"
    appBoxShadowOffset
    [maxOffset]="8"
  >
    <app-terminal (closeTerminal)="closeTerminal()"></app-terminal>
  </div>
</section>
