<section class="imprint">
  <div class="arrow-wrapper" [routerLink]="['']">
    <img src="./assets/img/arrows/arrow-up.svg" alt="" />
  </div>

  <h1 appTextShadowOffset [maxOffset]="6">{{ "imprint.title" | translate }}</h1>
  <address>
    <strong>{{ "imprint.name" | translate }} </strong>
    <br />
    <strong>{{ "imprint.address" | translate }} </strong>
    <br />
    <strong>{{ "imprint.city" | translate }} </strong>
    <br />
    <br />

    {{ "imprint.phone" | translate }}:
    <span><a href="tel:+4915205383732">0152 05 38 37 32</a></span> <br />
    {{ "imprint.email" | translate }}:
    <span
      ><a
        href="mailto:hey@michael-buschmann.dev?subject=Hi Micha 👋🏼, I've got a project to talk about!"
        >hey&#64;michael-buschmann.dev</a
      ></span
    >
  </address>

  <article>
    <h2>{{ "imprint.disclaimer.title" | translate }}</h2>

    <p>{{ "imprint.disclaimer.paragraph1" | translate }}</p>

    <p>{{ "imprint.disclaimer.paragraph2" | translate }}</p>

    <p>{{ "imprint.disclaimer.paragraph3" | translate }}</p>
  </article>
</section>
