<section class="skills" id="skills">
  <fieldset appBoxShadowOffset [maxOffset]="6">
    <legend
      appTextShadowOffset
      [maxOffset]="6"
      appScrollAnimation
      [animationClass]="'animated'"
      [threshold]="1"
      [rootMargin]="'50% 0px -35% 0px'"
    >
      My Skills
    </legend>
    <div class="icon-box">
      @for(tech of techStack; track techStack) {
      <figure>
        <img
          src="./assets/img/icons/{{ tech.icon }}.svg"
          alt="{{ tech.caption }}"
        />
      </figure>
      }
    </div>
  </fieldset>
</section>
