@import "../../../variables.scss";
@import "../../../mixins.scss";

.contact {
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $section-padding-960 $section-padding-960 0 $section-padding-960;
  flex-grow: 1;
  background-color: $text;
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);

  h1 {
    @include sectionHeading;
    width: 100%;
    text-align: left;
    color: $background;
  }

  .subheading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2rem;

    h2 {
      margin: 0;
      font-family: "Overpass", sans-serif;
      font-size: $subheading-fs;
      font-weight: 700;
      color: $accent;
      line-height: 2.75rem;
      letter-spacing: -0.025em;
    }

    p {
      @include sectionText;
      color: $background;
      margin: 0;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    gap: 2rem;

    width: 100%;
    max-width: 40rem;
    @include sectionText;
    font-size: 1rem;
    color: $background;

    fieldset {
      position: relative;
      width: 100%;
      height: fit-content;
      padding: 0;
      border: 4px solid transparent;
      transition: all 0.125s ease-in-out;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-bottom: 2px solid $background;
        pointer-events: none;
        transition: all 0.125s ease-in-out;
      }

      &:focus-within legend {
        display: block;
        opacity: 1;
      }

      &:has(input:not(:placeholder-shown)) legend,
      &:has(textarea:not(:placeholder-shown)) legend {
        display: block !important;
        opacity: 1 !important;
      }

      &:focus-within input {
        padding: 1rem 1.5rem 1rem 1.5rem;
      }

      &:focus-within input::placeholder,
      &:focus-within textarea::placeholder {
        opacity: 0;
      }

      &:focus-within,
      &:hover {
        border: 4px solid $background;
      }

      &:has(input:not(:placeholder-shown)),
      &:has(textarea:not(:placeholder-shown)) {
        border: 4px solid $background !important;
      }

      legend.has-overflow {
        margin-bottom: 0.875rem;
      }
    }

    @starting-style {
      fieldset:focus-within legend {
        opacity: 0;
      }
    }

    legend {
      display: none;
      font-size: 1rem;
      font-weight: 200;
      line-height: 0;
      margin-left: 0.875rem;
      padding: 0 0.25rem;
      opacity: 0;
      transition: 0.325s opacity ease-in-out, 0.325s margin-bottom ease-in-out,
        0.325s display allow-discrete, 0.325s overlay allow-discrete;
    }

    input,
    textarea {
      width: 100%;
      padding: 1rem 1.5rem 1rem 1.5rem;
      @include sectionText;
      color: $background;
      font-size: 1rem;
      background-color: transparent;
      border: none;
    }

    input[type="text"],
    input[type="email"] {
      appearance: none;
      -webkit-appearance: none;
      height: 3rem;
    }

    textarea {
      height: 8.75rem;
      appearance: none;
      -moz-appearance: none;
      resize: none;

      &::-webkit-scrollbar-track {
        background-color: $text !important;
        border: 1px solid transparent;
      }
    }

    input:focus,
    textarea:focus {
      border: none;
      outline: none;
      cursor: text;
    }

    ::placeholder {
      font-size: inherit;
      color: $background;
      opacity: 1;
      transition: 0.325s opacity ease-in-out;
    }

    .checkbox {
      display: flex;
      align-items: center;
      width: 100%;
      height: fit-content;

      #policy {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 32px;
        height: 32px;
        padding: 0;
        border: none;
        overflow: hidden;

        &::after {
          content: url("/assets/img/icons/unchecked.svg");
          display: inline-block;
          width: 32px;
          height: 32px;
          border: none;
        }

        &:checked::after {
          content: url("/assets/img/icons/checked.svg");
          display: inline-block;
          width: 32px;
          height: 32px;
          border: none;
        }
      }

      p {
        margin: 0;
      }

      span {
        color: $accent;
      }
    }
  }
}
