@import "./variables.scss";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
  background-color: $background;
  margin: 0 auto;
  padding: 0;
  color: $text;
}
