$text: #1b1819;
$background: #fffcf3;
$bg-hover: #fffcf3;
$btn-hover: #f0dbc766;
$primary: #f0dbc7;
$secondary: #e2cdb9;
$accent: #d9534f;
$feedback: #f8ecdb;

$transparent: #00000000;
$disabled: #606060;

$heading-fs: clamp(2.875rem, 14.539vw + 0.149rem, 8rem);
$subheading-fs: clamp(1.375rem, 2.482vw + 0.91rem, 2.25rem);

$section-padding-960: clamp(2rem, 13.333vw + -6rem, 6rem);
$section-padding-300: clamp(2rem, 13.333vw + -6rem, 6rem);

$section-heading-fs: 4.5rem;

$header-height: 4.75rem;

$standard-border: 4px $text solid;
