<footer id="contact">
  <app-contact />

  <div class="bottom-box">
    <div class="logo-box">
      <img src="assets/img/mb.png" alt="" />
      <div class="name">
        <p>&copy;Michael Buschmann</p>
      </div>
    </div>
    <div class="external">
      <div class="external-links">
        <a href="https://github.com/CodeRacon" target="_blank"
          ><img src="assets/img/icons/github.svg" alt="GitHub"
        /></a>

        <a href="mailto: hey@michael-buschmann.dev"
          ><img src="assets/img/icons/mail.svg" alt="Mail"
        /></a>

        <a
          href="https://de.linkedin.com/in/michael-buschmann-front-end-dev"
          target="_blank"
          ><img src="assets/img/icons/linkedin.svg" alt="LinkedIn"
        /></a>
      </div>

      <span>
        <a [routerLink]="['/imprint']">
          Legal notice
          <div class="underline"></div>
        </a>
      </span>
    </div>
  </div>
</footer>
